# Nextjs will automatically generate NODE_ENV assigned to "development" when running "npm run dev"
# 
# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# 
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

NEXTAUTH_URL=
NEXTAUTH_SECRET=

# Database
DATABASE_URL=

# Auth Providers
GITHUB_ID=
GITHUB_SECRET=

# Service Account that handles bucket operations
GCP_PROJECT_ID=
GCP_PRIVATE_KEY_ID=
GCP_PRIVATE_KEY=
GCP_CLIENT_EMAIL=
GCP_CLIENT_ID=
GCP_CLIENT_X509_CERT_URL=

# Bucket name for storing user uploaded files
GCP_PRIMARY_BUCKET_NAME=

# Stripe
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=